<p>Thanks for booking a flight!</p>

<%= "From: #{@booking.flight.departure_airport.code}, To: #{@booking.flight.arrival_airport.code}, Duration: #{@booking.flight.duration}, Start: #{@booking.flight.start}" %>

<%= link_to 'View Booking', booking_url(@booking) %>
